<app-header titulo="Grid"></app-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col  size="12" size-lg="3" size-md="4" size-sm="6"
                *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">

        <ion-card>
          <ion-img src="/assets/bttf.jpg"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>DELOREAN IPSUM</ion-card-subtitle>
          <ion-card-title> Script from Back to the Future</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          Just say anything, George, say what ever's natural, the first thing that comes to your mind. Take that you mutated son-of-a-bitch. My pine, why you. You space bastard, you killed a pine. You do? Yeah, it's 8:00. Hey, McFly, I thought I told you never to come in here. Well it's gonna cost you. How much money you got on you?
        </ion-card-content>



      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
